
<section id="contact" class="content-section text-center">
    <header class="masthead" style="background-image:url('../../assets/tail.jpg');">
    </header>
  <div class="container">
      <div class="row">
        
          <div class="col-lg-8 ">
              <h2>Contact Me</h2><p contenteditable="true">
                Phone No: 1-(206)-992-4871 <br/>
                Email: alanpaulparagas@gmail.com
              </p>
              <ul class="list-inline banner-social-buttons">
                  <li class="list-inline-item">&nbsp;<a class="btn btn-primary btn-lg " href="{{urls['linkedin']}"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">&nbsp; LinkedIn</span></a></li>
                  
                  <li class="list-inline-item">&nbsp;<a class="btn btn-primary btn-lg " href="{{urls['github']}}"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<div class="map-clean"></div>
<footer>
  <div class="container text-center">
      <p>Copyright ©&nbsp;Alan Paragas 2018</p>
  </div>
</footer>