
<section id="features">
    <div id="container" class="container-fluid">
        <div id="row" class="row">
            <div class="col-lg-8 ">
                <h2>About Me</h2>
                <p>I'm a <strong>full stack developer</strong> from with a passion for Web Development and Cloud Computing</p>
                    
                <div class="row">
                    <div class=" col-md-5  " >
                        <div class="icon"><i class="fa fa-rocket" style="font-size: 40px;"></i></div>
                        <h4 class="title"><strong>Self Starter</strong><br /></h4>
                        <p class="description">I'm a self motivated individual always excited to take on new projects and technologies.</p>
                    </div>
                    <div class=" col-md-5  " >
                        <div class="icon"><i class="fa fa-comments" ></i></div>
                        <h4 class="title"><strong>Collabrative</strong><br /></h4>
                        <p class="description">Communicative and team oriented in nature.</p>
                    </div>
                    <div class=" col-md-5  " >
                        <div class="icon"><i class="fa fa-bolt" style="font-size: 40px;"></i></div>
                        <h4 class="title"><strong>Creative</strong><br /></h4>
                        <p class="description">Always looking to create and design great solution.</p>
                    </div>
                    <div class=" col-md-5  ">
                        <div class="icon"><i class="fa fa-code" style="font-size: 40px;"></i></div>
                        <h4 class="title"><strong>Coder</strong><br /></h4>
                        <p class="description">Mindset for developing clean and concise code. Always looking to improve and showcase skills.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="content-section text-center" scroller>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div #skillDisplay class="skills" >
                  <h3>My Skills</h3>
                  <li>
                    <h4>HTML</h4>
                    <span class="bar" ><span [ngClass]="{'html': skills_state === 'show'}"></span></span>
                  </li>
                  <li>
                    <h4>CSS</h4><span class="bar"><span [ngClass]="{'css': skills_state === 'show'}"></span></span>
                  </li>
                  <li>
                    <h4>Javascript</h4><span class="bar"><span [ngClass]="{'javas': skills_state === 'show'}"></span></span>
                  </li>
                 
                  <li>
                    <h4>Angular</h4><span class="bar"><span [ngClass]="{'angular': skills_state === 'show'}"></span></span>
                  </li>
                  <li>
                    <h4>SQL</h4><span class="bar"><span [ngClass]="{'sql': skills_state === 'show'}"></span></span>
                  </li>
                  <li>
                    <h4>AWS</h4><span class="bar"><span [ngClass]="{'aws': skills_state === 'show'}"></span></span>
                  </li>
              </div>
              
          </div>
      </div>
  </div>
</section>
<section id="projects" class="download-section content-section text-center">
  <div class="col-lg-8 mx-auto">
              <img src="" alt="">
              <h2>Projects</h2>
              <p>See a list of my personal projects in web development, also check out my &nbsp;<a href="https://github.com/paragasa">Github <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;</p>
              
  </div>  
  <div class="container-project">
     <div class="row-project">
        <div class="col-sm-6 item">
            <div class="row-project">
                <div class="col-md-12 col-lg-5"><a href="https://github.com/paragasa/Dately-ASP.NET-Angular"><img class="img-fluid" src="../../assets/DatelySample.png" /></a></div>
                <div class="col">
                    <h3 class="name">Dately</h3>
                    <p class="description">A dating app where users can match and connect!<br>Angular ASP.NET <i class="fa fa-microsoft"></i></p>
                </div>
            </div>
        </div> 
        <div class="col-sm-6 item">
            <div class="row-project">
                <div class="col-md-12 col-lg-5"><a href="https://github.com/paragasa/ASP.NET-WebAPI---MovieHut"><img class="img-fluid" src="../../assets/moviehut.png" /></a></div>
                <div class="col">
                    <h3 class="name">MovieHut</h3>
                    <p class="description">A dating app where users can match and connect!<br>ASP.NET MVVM</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>